*.rbc
capybara-*.html
.rspec
/log
/tmp
/db/*.sqlite3
/public/system
/coverage/
/spec/tmp
**.orig
rerun.txt
pickle-email-*.html

# Ignore Spring files b/c of guard
/spring/*.pid

# Ignore local file uploads 
/public/uploads