<%= provide :title, "Home" %>
<h1>Home Page</h1>

<% if signed_in? %>
	<%= render 'shared/user_info' %>
	<%= render 'shared/feat_form' %>
<% else %>
	<h1>Not logged in currently</h1>
<% end %>

<h1>Feats:</h1><br>
<%= render 'shared/feed' %>