<nav class="header_bar">
	
	<ul class="nav nav-tabs nav-justified header_tabs" role="tablist">
  	<li>
  		<%= link_to "Home", root_path, class: "center-block" %>
  	</li>
    
    <li>
    	<%= link_to "Explore", about_path, class: "center-block" %>
    </li>
    
    <li>
    	<%= link_to "Profile", other_sites_path, class: "center-block" %>
    </li> 
	</ul>

</nav>