<nav class="header_bar">
	
	<ul class="nav nav-tabs nav-justified header_tabs" role="tablist">
  	<li>
  		<%= link_to "Home", root_path, class: "center-block" %>
  	</li>
    
    <li>
    	<%= link_to "Explore", about_path, class: "center-block" %>
    </li>
    
    <li>
      <% if !current_user.nil? %>
       <%= link_to "Profile", current_user %>
      <% else %>
        <%= link_to "Sign In/Up", new_user_session_path %>
      <% end %>
    </li> 
	</ul>

</nav>